name: Release Please

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@v4
        with:
          release-type: node
          package-name: awakened-poe-trade
          path: main
